@model PROG7311TechMoveLogistics.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractServiceLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractServiceLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContractId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
