@model IEnumerable<PROG7311TechMoveLogistics.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractServiceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractServiceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
